body {
    font-family: Tahoma, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}
.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;      /*to straight*/
    justify-content: space-between; /*put to the right*/
    align-items: center;
    position: sticky;
    top: 0;
    
}
.header h1 {
    margin:0;
    font-size: 40px;
}
.sidebar {
    background-color: #666;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 100vh;
    width: 200px;
    position: fixed;
}
select {
    width: 100%;
    height: 30px;
    margin-bottom: 16px;
    border-radius: 4px;
    background-color: #f1f1f1;
}
.button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}
.content {
    margin-left: 250px; /* Adjust according to sidebar width */
    padding: 10px;
    background-color: #f4f4f4;
    
    justify-content: center; /* Center horizontally */
    align-items: flex-start; /* Align items to the top */
    height: 85vh; /* Full viewport height */
    text-align: center; /* Center text inside */
    
    
}
.heading-container {
    display: flex;
    margin: 60px 60px 60px 60px;
    justify-content: space-evenly;
}
.search-bar {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}
.search-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.search-button:hover {
    background-color: #45a049;
}


.ADNU_Box{
    width: 375px; 
    height: 305px; 
    
    position: relative
}
.Rectangle1{
    width: 375px; 
    height: 300px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: white; 
    border-radius: 15px; 
    border: 1px 
    rgba(0, 0, 0, 0.25) solid;
}
.Rectangle2{
    width: 375px; 
    height: 124px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #1C3F94; 
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px
}
.Logo1 {
    width: 100.42px; 
    height: 100px; 
    left: 242px; 
    top: 74px; 
    position: absolute
}
.AteneoDeManilaUniversity{
    width: 332px; 
    height: 30px; 
    left: 23px; 
    top: 17px; 
    text-align: left;
    position: absolute; 
    color: white; 
    font-size: 24px; 
    font-family: Tahoma, sans-serif; 
    font-weight: 400; 
    letter-spacing: 0.24px; 
    word-wrap: break-word;
}
.Address1{
    width: 192px; 
    height: 44px; 
    left: 21px; 
    top: 52px; 
    text-align: left;
    position: absolute; 
    color: white; 
    font-size: 14px; 
    font-family: Tahoma, sans-serif; 
    font-weight: 400; 
    letter-spacing: 0.14px; 
    word-wrap: break-word;
}
.ChosenCourse1{
    width: 180px; 
    height: 20px; 
    left: 90px; 
    top: 180px; 
    text-align: left;
    position: absolute; 
    color: black; 
    font-size: 14px; 
    font-family: Tahoma, sans-serif; 
    font-weight: 400; 
    letter-spacing: 0.14px; 
    word-wrap: break-word
}
.Tuition1{
    width: 190px; 
    height: 1=20px; 
    left: 90px; 
    top: 220px; 
    text-align: left;
    position: absolute; 
    color: black; 
    font-size: 14px; 
    font-family: Tahoma, sans-serif; 
    font-weight: 400; 
    letter-spacing: 0.14px; 
    word-wrap: break-word
}
.Compare1 {
    width: 121px; 
    height: 28px; 
    left: 230px; 
    top: 257px; 
    position: absolute;
}
.AddToCompare1 {
    width: 100%; 
    height: 100%; 
    top: 7px; 
    left: 0px;
    position: absolute; 
    background-color: #26A406; 
    color: white; 
    font-size: 12px; 
    font-family: Tahoma, sans-serif; 
    font-weight: 600; 
    border-radius: 10px; 
    border: none;
    cursor: pointer;
}


.DLSU_Box{
    width: 375px; 
    height: 300px; 
    left: 50px;
    position: relative;
}
.Rectangle3{
    width: 375px; 
    height: 300px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: white; 
    border-radius: 15px; 
    border: 1px rgba(0, 0, 0, 0.25) solid;
}
.Rectangle4{
    width: 375px; 
    height: 124px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #008546; 
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px
}
.DeLaSalleUniversity{
    width: 332px; 
    height: 30px; 
    left: 25px; 
    top: 17px; 
    text-align: left;
    position: absolute; 
    color: white; 
    font-size: 24px; 
    font-family: Tahoma, sans-serif; 
    font-weight: 400; 
    letter-spacing: 0.24px; 
    word-wrap: break-word;
}
.Address2{
    width: 192px; 
    height: 44px; 
    left: 25px; 
    top: 52px; 
    text-align: left;
    position: absolute; 
    color: white; 
    font-size: 14px; 
    font-family: Tahoma, sans-serif; 
    font-weight: 400; 
    letter-spacing: 0.14px; 
    word-wrap: break-word
}
.ChosenCourse2{
    width: 180px; 
    height: 20px; 
    left: 90px; 
    top: 180px; 
    text-align: left;
    position: absolute; 
    color: black; 
    font-size: 14px; 
    font-family: Tahoma, sans-serif; 
    font-weight: 400; 
    letter-spacing: 0.14px; 
    word-wrap: break-word
}
.Tuition2{
    width: 190px; 
    height: 20px; 
    left: 90px; 
    top: 220px; 
    text-align: left;
    position: absolute; 
    color: black; 
    font-size: 14px; 
    font-family: Tahoma, sans-serif; 
    font-weight: 400; 
    letter-spacing: 0.14px; 
    word-wrap: break-word
}
.Image2{
    width: 100px; 
    height: 100px; 
    left: 242px; 
    top: 74px; 
    position: absolute
}
.Compare2 {
    width: 121px; 
    height: 28px; 
    left: 170px; 
    top: 257px; 
    position: absolute;
}
.AddToCompare2 {
    width: 100%; 
    height: 100%; 
    top: 7px; 
    position: absolute; 
    background-color: #26A406; 
    color: white; 
    font-size: 12px; 
    font-family: Tahoma, sans-serif; 
    font-weight: 600; 
    border-radius: 10px; 
    border: none;
    cursor: pointer;
}